// Media Query Ranges
$mobile-range: (0em, 30em) !default;           // 0px    -  480px
$tablet-range: (30.0625em, 48em) !default;     // 481px  -  768px
$desktop-range: (48.0625em, 73em) !default;    // 769px  -  1168px

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$mobile-up: $screen !default;
$mobile-only: "#{$screen} and (max-width: #{upper-bound($mobile-range)})" !default;

$tablet-up: "#{$screen} and (min-width:#{lower-bound($tablet-range)})" !default;
$tablet-only: "#{$screen} and (min-width:#{lower-bound($tablet-range)}) and (max-width:#{upper-bound($tablet-range)})" !default;

$desktop-up: "#{$screen} and (min-width:#{lower-bound($desktop-range)})" !default;
$desktop-only: "#{$screen} and (min-width:#{lower-bound($desktop-range)}) and (max-width:#{upper-bound($desktop-range)})" !default;